footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #3b1f2b;

  a,
  button {
    color: #dbdfac;
    margin: 10px;
    background: none;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }
}
